.addBookmarkForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 10px;
    .addBookmarkForm_input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        input{
            height: 30px;
            border-radius: 5px;
            outline: none !important;
            box-shadow: none !important;
        }
        label{
            font-size: 20px;
            margin-bottom: 3px;
        }
    }
    .addBookmarkForm_btn{
        display: flex;
        justify-content: space-between;
        button{
            margin-top: 10px;
            height: 40px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid gray;
            &:last-child{
                background-color: $secondary-100;
                color: $base;
            }
        }
    }
}