.hotels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .hotel{
       border: 1px solid $primary; 
       width: calc(33% - 20px);
       min-height: 200px;
       margin: 5px;
       padding: 10px 5px;
       .hotel__description{
        .name{
            text-transform: capitalize;
            color: #bdbdbd;
        }
       }
    }
}