.appLayout{
    display: flex;
    justify-content: space-between;
    // align-items: stretch;
    height: 100vh;
    .sidebar{
        width: 40%;
        .searchList{
            h2{margin-left: 10px;}
            .searchList-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    height: 30px;
                    background-color: $secondary-100;
                    color: $base;
                    border: none;
                    border-radius: 5px;
                    padding:10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .searchList__item.current_hotel{
            border: 1px solid $primary;
        }
        .searchList__item{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin:15px 10px;
            border: 1px solid gray;
            border-radius: 10px;
            padding: 10px;
            // align-items: center;
            img{
                border-radius: 10px;
                width: 100px;
            }
            .searchList__item__desc{
                margin-left: 10px;
            }
            
        }
    }
    .mapContainer{
        width: 60%;
        height: 100%;
        padding: 20px;
        z-index: 15;
        .leaflet-container{ 
            height: 100%;
            width:100%;
            border-radius: 20px;
         }
         .getLocation{
            position: absolute;
            left: 5px;
            bottom: 5px;
            z-index: 10000;
        }
    }
    @media screen and (max-width:760px) {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items:start ;
        .sidebar{
            width:100%;
            .searchList__item{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
        }
        .mapContainer{
            width:95%;
            padding: 8px;
        }
    }
}
.secondary-header{
    height: 80px;
    width: 100%;
    @media screen and (max-width:760px) {
        height: 230px;
    }
    
}